---
import { getEntry, getCollection } from 'astro:content'
import { getPageRoute } from '../../../utils/page-routes'
import BaseLayout from '../../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
	const sectors = await getCollection('sectors')
	
	return sectors.map((sector: any) => ({
		params: { sectorSlug: sector.data.slug }
	}))
}

const {
	sectorSlug
} = Astro.params as {
	sectorSlug: string
}

const sector = await getEntry('sectors', sectorSlug)
const routes = await getCollection('routes', (entry) => entry.data.sectorSlug === sectorSlug)
---
<BaseLayout pageTitle="Setores">
	{sector && (
		<div>
			<h1>{sector.data.name}</h1>
			<p>{sector.data.description}</p>

			<h2>Rotas</h2>
			<ul>
				{routes.map((route: any) => (
					<li>
						<a href={getPageRoute('route', sector.data.slug, route.data.slug)}>{route.data.name}</a>
					</li>
				))}
			</ul>
		</div>
	)}
</BaseLayout>
