---
import { getPageRoute } from '../utils/page-routes'
import Navigation from './Navigation.astro'
---

<header class="header">
    <a class="logo" href={getPageRoute('home')}>Rachada</a>
</header>

<style>
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;

    .logo {
        font-size: 32px;
    }
  }
</style>