---
import { getPageRoute } from '../utils/page-routes'
---

<nav class="navigation">
    <a href={getPageRoute('home')}>Início</a>
    <a href={getPageRoute('sectors')}>Setores</a>
    <a href={getPageRoute('videos')}>Vídeos</a>
</nav>