---
import { getCollection } from 'astro:content'
import BaseLayout from '../../../../../../src/layouts/BaseLayout.astro'
import { getEntry } from 'astro:content'

export async function getStaticPaths() {
	const routes = await getCollection('routes')

	return routes.map((route: any) => ({
		params: { 
			sectorSlug: route.data.sectorSlug,
			routeSlug: route.data.slug
		}
	}))
}

const {
    sectorSlug,
    routeSlug
} = Astro.params as {
    sectorSlug: string,
    routeSlug: string
}

const sector = await getEntry('sectors', sectorSlug)
const route = await getEntry('routes', routeSlug)
---
<BaseLayout pageTitle="Rota">
	{route && (
		<div>
			<h1>{route.data.name}</h1>
			<p>Detalhes da rota {route.data.name} no setor {sector?.data.name}.</p>
		</div>
	)}

	<h3>Betas</h3>
</BaseLayout>
