---
import { getCollection } from 'astro:content'
import { getPageRoute } from '../../utils/page-routes'
import BaseLayout from '../../layouts/BaseLayout.astro'

const sectors = await getCollection('sectors')
---
<BaseLayout pageTitle="Setores">
	Setores

	<ul>
		{sectors.map((sector: any) => (
			<li>
				<a href={getPageRoute('sector', sector.id)}>{sector.data.name}</a>
			</li>
		))}
	</ul>
</BaseLayout>
