---
import { getEntry, getCollection } from 'astro:content'
import { getPageRoute } from '../../../utils/page-routes'
import BaseLayout from '../../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
	const sectors = await getCollection('sectors')
	
	return sectors.map((sector: any) => ({
		params: { sectorId: sector.id }
	}))
}

const {
	sectorId
} = Astro.params as {
	sectorId: string
}

const sector = await getEntry('sectors', sectorId)
const routes = await getCollection('routes', (entry) => entry.id.startsWith(sectorId + '/'))
---
<BaseLayout pageTitle="Setores">
	{sector && (
		<div>
			<h1>{sector.data.name}</h1>
			<p>{sector.data.description}</p>

			<h2>Rotas</h2>
			<ul>
				{routes.map((route: any) => (
					<li>
						<a href={getPageRoute('route', route.id)}>{route.data.name}</a>
					</li>
				))}
			</ul>
		</div>
	)}
	<a href={"https://github.com/mukah/rachada/edit/main/data/sectors/" + sectorId + "/sector.json?value=CONTEUDO_AQUI"}>Editar</a>
</BaseLayout>
